
.home-div{
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    padding-top: 20px;
    padding-bottom: 20px;
    width:90%;
    margin: 0 auto;
}

.home-div a:hover{
    color:orange;
}

.home-div select:hover{
    color:orange;
}

.home-div a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    
    color: gray;
   
}

.home-div select{
    border:none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    
    color: gray;
   
}


.heading-div{
    padding-left: 7%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.heading-div span{
    color:orangered;
}


.first-img{
    display: flex;
}
.header-div{
  
    width:40%;
    padding-left: 7%;
}

.header-div h1{
    padding-top: 17%;
    font-size: 50px;
    font-family: sans-serif;
    color:rgb(75, 72, 72);
}

.header-div span{
    color:rgb(255, 123, 0);
}

.header-div p{
    font-size: 1.rem;
    font-family: sans-serif;
    color:rgb(156, 154, 154);
    font-weight:550;
    margin-bottom: 30px;
}

.header-div a{
    text-decoration: none;
    font-family: sans-serif;
    border: 1px solid orange;
    border-radius: 20px;
    
    font-size: 13px;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-image: linear-gradient(orange, tomato);
   color:white;
}

.header-div img{
    padding-left: 20%;
    width:550px;
}






  


.main-img{
    display: flex;

    margin-bottom: 100px;
    margin-top: 150px;
    background-image: url(images/Frame\ 59.jpg);

}


.img-div{
    width:50%;
   
    
}


.img-div img{
    
    padding-left: 130px;
    padding-top: 120px;
    width:60%;
    margin-bottom: 0;
}
*{
    box-sizing: border-box;
}

#food{
    padding:10px;
}

.img-div h1{
    padding-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
    color:grey;
}

.img-div p{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color:rgb(122, 121, 121);

    width:68%;
    margin-bottom: 30px;
}

.img-div a{
    
    text-decoration: none;
    font-family: sans-serif;
    border: 1px solid orange;
    border-radius: 20px;
    
    
    font-size: 13px;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-image: linear-gradient(orange, tomato);
   color:white;
}

a:hover{
    color:black;
    text-decoration: underline;
}

.main-div2{
    text-align: center;
   
}

.img{
   
   
    float: left;
    width:25%;
   
 


}
.img #food{
    width:100%;
    height:250px;
}

.recipies-div{
    text-align: center;
}

.recipies-div h1{
  font-size: 40px;
  font-family: sans-serif;
  color:gray;
}


.recipies-div p{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(56, 54, 54);
}

.head{
    text-align: left;
    padding-left: 10px;
}
.head h1{
    font-family: sans-serif;
    color: black;
}
.head h3{
font-family: sans-serif;
color:rgb(61, 60, 60)
}

#img{
  
    border-radius: 20px;

     margin-left: 100px;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 30px;
}


#img2{
  
    border-radius: 20px;
    margin-left: 100px;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 30px;
}


#img3{

    border-radius: 20px;
    margin-left: 100px;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 30px;
}

.image-div{
    margin-top:100px;
}










.social-media{
    background-color: #333333;
    
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right:50px;
}

.btn{

    border:none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 2rem;
   
}



.h1-title{
    color:white;
    font-family: sans-serif;
}

.h1-title h2{
    font-weight: 300;

}

.Email{
    color:white;
    font-family: sans-serif;
}

.Email span{
    color:orangered
}


#link{
   padding-bottom: 100px;
}



.finish{
    text-align: center;
    background-color: rgb(24, 29, 44);
    font-family: sans-serif;
}

.finish h1{
    padding-top: 50px;
    color:rgb(54, 54, 54);

}

.finish h5{
    padding-bottom: 40px;
    color:white;
}

.finish span{
    color:orangered;
}